
@font-face {
	font-family: 'Roboto-Regular';
	src: url('../fonts/Roboto-Regular.eot');
	src: url('../fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Roboto-Regular.woff2') format('woff2'),
		url('../fonts/Roboto-Regular.woff') format('woff'),
		url('../fonts/Roboto-Regular.ttf') format('truetype'),
		url('../fonts/Roboto-Regular.svg#Roboto-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto-Medium';
	src: url('../fonts/Roboto-Medium.eot');
	src: url('../fonts/Roboto-Medium.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Roboto-Medium.woff2') format('woff2'),
		url('../fonts/Roboto-Medium.woff') format('woff'),
		url('../fonts/Roboto-Medium.ttf') format('truetype'),
		url('../fonts/Roboto-Medium.svg#Roboto-Medium') format('svg');
	font-weight: 500;
	font-style: normal;
}


@font-face {
	font-family: 'Roboto-Bold';
	src: url('../fonts/Roboto-Bold.eot');
	src: url('../fonts/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Roboto-Bold.woff2') format('woff2'),
		url('../fonts/Roboto-Bold.woff') format('woff'),
		url('../fonts/Roboto-Bold.ttf') format('truetype'),
		url('../fonts/Roboto-Bold.svg#Roboto-Bold') format('svg');
	font-weight: bold;
	font-style: normal;
}
body {
	background: #f0f0f0;
}
#mod-header, #mod-header-detail  {
	position: relative;
	.content {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	.logo {
		float: left;
		margin-bottom: 4px;
	}
	.wrap {
		z-index: 999;
		position: absolute;
		width: 100%;
		height: 100%;
		top: -23px;
		display: none;
		background-color: rgba(51, 51, 51, 0.52);
		text-align: center;
		transition:   all 2s;
		.close-login {
			position: absolute;
			top: 12%;
			right: 36%;
		}
	}
	.avatarLG {
		width: 100%;
		margin: auto;
		width: 65px;
		border-radius: 100px;
		height: 65px;
		background: #448ed3 ;
		position: relative;
		bottom: -15px;
		margin-top: 200px;
	}
	.avatarLG img {
		width: 65px;
		height: 65px;
		border-radius: 100px;
		margin: auto;
		border:3px solid #fff;
		display: block;
	}
	.wrap input {
		border: none;
		background: #fff;
	  font-family:Lato ;
	  font-weight:700 ;
		display: block;
		height: 40px;
		outline: none;
		width: calc(100% - 24px) ;
		margin: auto;
		padding: 6px 12px 6px 12px;
		width: 400px;
	}
	.bar {
		height: 1px;
		background: #fff ;
		width: 400px;
	}
	.bar i {
		width: 400px;
		margin: auto;
		height: 1px ;
		display: block;
		background: #d1d1d1;
	}
	.wrap input[type="text"] {
		border-radius: 7px 7px 0px 0px ;
		border-bottom: 1px solid #ddd;
	}
	.wrap input[type="password"] {
		border-radius: 0px 0px 7px 7px ;
	}
	.forgot_link {
		color: #83afdf ;
		color: #83afdf;
		text-decoration: none;
		font-size: 11px;
		position: relative;
		left: 193px;
		top: -36px;
	}
	.wrap button {
		width: 100%;
		border-radius: 7px;
		background: #b6ee65;
		text-decoration: center;
		border: none;
		color: #51771a;
	  	margin-top:-5px;
		padding-top: 14px;
		padding-bottom: 14px;
		outline: none;
		font-size: 13px;	
		border-bottom: 3px solid #307d63;
		cursor: pointer;
		width: 400px;
	}
	.search {
		max-width: 600px;
		width: 100%;
		float: left;
		position: relative;
		.form-control {
			border: 1px solid #5aa057;
		}
		.btn-search {
			position: absolute;
			top: 0;
			right: 0;
			background: #5aa057;
			border: none;
			padding: 7px 20px;
			&:hover {
				background: #7dc243;
			}
		}
		.form-group {
			margin-bottom: 0;
		}
	}
	.sign-in-out {
		float: left;
		.avatar {
			height: 40px;
			width: 	40px;
			border-radius: 100%;
			overflow: hidden;
			float: left;
			cursor: pointer;
		}
		.text {
			position: relative;
			float: left;
			padding-left: 5px;
			p {
				font-size: 12px;
				margin: 0;
			}
			.user {
				font-size: 16px;
			}

			.arrow-user {
				position: absolute;
				top: 46%;
				right: 0;
				cursor: pointer;
				&:before {
					position: absolute;
				    top: 0;
				    right: 0;
				    bottom: 0;
				    left: 0;
				    width: 0;
				    height: 0;
				    margin: auto;
				    content: "";
				    display: block;
				    border-left: 6px solid transparent;
				    border-right: 6px solid transparent;
				    border-top: 8px solid #555;
				}
				&.active {
					&:before {
					    border-top: 0;
						border-bottom: 8px solid #2f2f2f;
					}
				}
			}
		}
		.none-sigin, .done-sigin, .card {
			float: left;
		}
		.none-sigin {
			display: block;
		}
		.list-button {
			a {
				text-decoration: none;
			}
			.login {
				font-size: 14px;
				color: #000;
				&:hover {
					color: #7dc243	;
				}
			}
			.register {
				padding: 7px 7px;
				color: #fff;
				background: #5aa057;
				border: none;
				margin-left: 15px;
				&:hover {
					background: #7dc243;
				}
			}
		}
		.sub-infor {
			position: absolute;
			top: 100%;
		    left: 0;
		    z-index: 104;
		    background: #fff;
		    padding: 12px 0;
		    width: 100%;
		    margin-top: 5px;
		    box-shadow: 0 2px 4px rgba(0,0,0,.5);
		    display: none;
		    ul {
		    	padding: 0;
		    	margin: 0;
		    	li {
					list-style: none;
					width: 100%;
					a {
						text-decoration: none;
						font-size: 14px;
						color: #0c331d;
						padding: 12px;
						display: block;
						&:hover {
							background: #f2f2f2;
						}
					}
		    	}
		    }
		    
		}
		.done-sigin {
			position: relative;
			text-align: left;
		}
	}
	.card {
		float: left;
		.img-card, .text {
			float: left;
		}
		p {
			margin: 0;
			font-size: 12px;
		}
	}
	//menu
	.head-menu {
		.category {
			position: relative;
		}
		.sub-category {
			position: absolute;
			padding: 0;
			background: #55A161;
			width: 100%;
			box-shadow: 0px 0px 3px #0A5F14;
			display: block;
			li {
				list-style: none;
				a {
					text-decoration: none;
					font-family: 'Roboto-Medium';
					width: 100%;
					padding: 8px 16px;
					color: #fff;
					display: block;
					box-shadow: 0px 0px 1px rgba(54, 95, 10, 0.37);
					i {
						padding-right: 10px;
					}
					&:hover {
						color:#0A5F14;
						background: #fff;
						font-family: 'Roboto-Bold';
					}
				}
			}
		}
	}
	.new-paper {
		float: right;
		width:25%;
		background: #fff;
		position: relative;
		ul  {
			padding: 0;
			padding: 0 8px;
			border-radius: 4px;
			margin-bottom: 0px;
			box-shadow: 0px 0px 10px #888888;
			li {
				padding-top: 8px;
				list-style: none;
				text-decoration: none;
				border-bottom: 1px solid #ededed;
				padding-bottom:13px;
				padding-right: 110px; 
				position: relative;
				a {
					text-decoration: none; 
					max-width: 81px;
					overflow: hidden;
					color: #333;
					font-size: 14px;
					font-family: 'Roboto-Regular';
					&:hover {
						color: #288ad6;
					}
				}
				img {
					position: absolute;
					right: 0;
					top: 8px;
				}
			}
			li:last-child {
				border: none;
			}
		}
		img {
			float: right;
		}
		figure{
			display: block;
		    overflow: hidden;
		    border-bottom: 3px solid #fdd504;
		    background: #f0f0f0;
		    box-shadow: -1px 2px 1px #888888;
		    h2 {
		    	float: left;
			    background: #fdd504;
			    text-transform: uppercase;
			    text-align: center;
			    margin-bottom: 0;
			    margin-top: 0;
			    padding: 3px 8px;
			    a {
			    	font-size: 14px;
   					 color: #333;
			    }
		    }
		    b {
		    	float: left;
			    width: 0;
			    height: 0;
			    border-left: 0 solid transparent;
			    border-right: 20px solid transparent;
			    border-bottom: 38px solid #af9300;
			    margin-top: 1px;
		    }
		     .readmore {
		     	  float: right;
				    padding: 3px 10px;
				    background: #fff;
				    border-radius: 2px;
				    -webkit-border-radius: 2px;
				    -moz-border-radius: 2px;
				    font-size: 12px;
				    color: #288ad8;
				    text-transform: uppercase;
				    margin-top: 8px;
		     }

		} 
	}
	.clearfix {
		 clear: both;
	    content: ".";
	    display: block;
	    height: 0;
	    line-height: 0;
	    visibility: hidden;
	}
	.camket {
		display: flex;
    	justify-content: space-around;
    	padding: 10px 10px 10px 36px;
		ul {
			padding: 0;
			position: relative;
			li {
				display: inline-block;
				list-style: none;
				font-style: italic;
				color: #f4472c;
				font-size: 16px;
				text-transform: uppercase;
				font-family: 'Roboto-Bold';
				position: relative;
				padding-left: 52px;
				padding-right: 10px;
				// display: inline-flex;
				// align-items: center;
				line-height: 26px;
				img {
					position: absolute;
					left: 0;
				}
				p{
					font-family: 'Roboto-Regular';
					font-size: 14px;
					color: #898989;
					text-transform: none;
				}
			}
		}
	}
	// product-km
	.floor__title1 {
		border-top: 4px solid #206d29!important;
		position: relative;
		.colum {
			float: left;
    		margin-bottom: 4px;
    		.floor__text1 {
    			background: #206d29!important;
    			padding-top: 10px;
    			
    		}
    		
		}
		.floor__text__val {
			font-size: 13px;
		    text-transform: uppercase;
		    float: left;
		    padding: 10px;
		    font-family: 'Roboto-Bold';
		}
		.floor__number {
			box-shadow: 0 5px 5px;
		    position: absolute;
		    top: -8px;
		    width: 46px;
		    height: 46px;
		    left: 74px;
		    background: #fff;
		    border-radius: 50%;
		    text-align: center;
		    font-size: 24px;
		    font-weight: 700;
		    line-height: 46px;
		    overflow: hidden;
		     font-family: 'Roboto-Bold';
		}
		.floor__name {
			background: linear-gradient(135deg,rgb(255, 255, 255) 30%,#206d29 90%,#F2F2F2 30%,#F2F2F2 30%,#F2F2F2 100%);
		    margin-left: 103px;
		    background-color: #E9EAED;
		    padding: 0 30px;
		    font-size: 13px;
		    color: #545351;
		    text-transform: uppercase;
		    font-weight: 700;
		    padding-top: 10px;
		     font-family: 'Roboto-Bold';
		}
		.list-item-km {
			margin-top: 20px;
			.item {
				position: relative;
				background: #fff;
				box-shadow: 0 0 5px #3e8049;
				border-radius: 4px;
				padding: 24px 10px 10px 10px;
				margin-bottom: 24px;
				&:hover {
					.des-full {
						display: block;
					}
					.link-km {
						display: block;
					}
				}
				p {
					font-family: "Roboto-Regular";
					font-size: 14px;
				}
				img {
					width: 220px;
					height: 220px;
					display: block;
					margin-left: auto;
					margin-right: auto;

				}
				h3 {
					font-family: "Roboto-Bold";
					font-size: 14px;
					color: #333;
				}
				.primary-km-price {
					color: #c10017;
					font-family: "Roboto-Medium";
					font-weight: bold;
					font-size: 16px;
				}
				.fore-km-price {
					text-decoration: line-through;
					float: right;
				}
				.des-full {
					display: none;
					position: absolute;
					width: 100%;
					height: 100%;
					background: #fff;
					top: 0;
					left: 0;
					padding: 10px;
					border-radius: 4px;
					h3 {
						color: #4198db;
					}
					z-index: 9;
				}
				.link-km {
					position: absolute;
					width: 100%;
					height: 90%;
					background: #fff;
					top: 0;
					left: 0;
					display: none;
					z-index: 10;
					background: rgba(255, 255, 255, 0);
				}
				.addcart {
					position: absolute;
					bottom: 0;
					color: #fff;
					right: 0;
					background: #FF0000;
					border: none;
					padding: 4px 5px;
				}
				.iconlct{
					position: absolute;
					top:0px;
					left: 0px;
					border-radius: 4px 0 0 0;
					min-width: 96px;
				    background: linear-gradient(123deg,rgb(237, 22, 29) 20%,#ed161d 87%,#ffffff 30%,#ffffff 61%,#fff 100%);
				    line-height: 14px;
				    max-height: 22px;
				    padding: 3px 13px;
				    position: absolute;
				    color: white;
				    background-color: red!important;
				    z-index: 1;
				    font-size: 11px;
				    font-weight: bold;
				}

			}
		}
		
	}
	//end
	#back-top {
		img {
			width: 3%;
			cursor: pointer;
			position: fixed;
			bottom: 45px;
			right: 20px;
		 	-webkit-transition: all .2s linear;
		    -moz-transition: all .2s linear;
		    -o-transition: all .2s linear;
		    -transition: all .2s linear;

		}
		
	}
	footer {
		width: 100%;
	    margin: 0 auto;
	    background: #fff;
	    overflow: hidden;
	    clear: both;
	    .rowfoot1 {
		    display: inline-block;
		    overflow: hidden;
		    width: 100%;
		    margin: 0 auto;
		    padding: 15px 0;
		    .colfoot {
		    	width: 33%;
		    	display: inline-block;
		    	list-style: none;
		    	font-size: 14px;
		    	font-family: 'Roboto-Medium';
		    }
		}
		.rowfoot2 {
		    width: 100%;
		    overflow: hidden;
		    background: #f8f8f8;
		    padding: 10px 10px;
		}
	}

}